body {
	background-image:url("../site_images/background.png");

    font-family: 'Lato';
}

.navbar-default1 {
	background-image:url("../site_images/background.png");
}

.panel-heading1 {
	background-image:url("../site_images/background.png");
}
